<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hms.pushkit">


    <application>

        <activity android:name=".PushDemoActivity"/>
        <activity android:name=".BasicPushActivity"/>

        <service
            android:name=".HmsPushService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.huawei.push.action.MESSAGING_EVENT" />
            </intent-filter>
        </service>

    </application>


</manifest>