<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hms.adskit">

    <application>

        <activity android:name=".AdsDemoActivity"/>
        <activity android:name=".BannerAdsActivity"/>
        <activity android:name=".InterstitialAdsActivity"/>
        <activity android:name=".SplashAdsActivity"/>
        <activity android:name=".NativeAdsActivity"/>
        <activity android:name=".RewardAdsActivity"/>



    </application>
</manifest>