<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hms.accountkit">

    <application>

        <activity android:name=".GBasicLoginActivity"/>
        <activity android:name=".HBasicLoginActivity"/>
        <activity android:name=".LoginDemoActivity"/>

    </application>

</manifest>