<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hms.placesnearby">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-permission android:name="com.huawei.appmarket.service.commondata.permission.GET_COMMON_DATA" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application>

        <activity android:name=".NearbyPlacesActivity"/>
        <activity android:name=".NearByHospitalActivity"/>

        <meta-data
            android:name="com.huawei.hms.client.appid"
            android:value="appid=102422611" />

    </application>

</manifest>